@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome 2</h1>
    <p> Dikkat! <a href="">Forum İçin Lütfen Tıklayınız</a>.</p>
</div>*@
<div class="row">
    <div class="col text-center">
        <h1 class="text-danger text-center"><i class="fa-sharp fa-solid fa-share-from-square"></i></h1>
        <p>Forum Gitmek için!!.</p>
        <div class="text-center">
            <a asp-action="Index" asp-controller="Forum" class="btn btn-primary">Go to Forum Page!</a>
        </div>
    </div>
</div>